.container-resultado {
  width: 90%;
  height: 500px;
  margin-top: 5px;
  border: 1px solid black;
}
.container-resultado .container-libros-agregados {
  width: 20%;
  height:100%;
  border: 1px solid black;
}