* {
  margin: 0;
  padding: 0;
}
.container-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-button button {
  height: 100px;
  width: 200px;
  font-size: 1.8rem;
  background-color: #7099FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container-button button:hover {
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.container-videogames {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}